.tip{ 
    position:absolute;
    width: 400px;
    z-index: 99999999;
    border: 1px dashed white;
    text-align: right;
    color: white;
}
.selected-code-box{
    position:absolute;
    width: 400px;
    height: 30px;
    z-index: 99999999;
}